## String

In [1]:
s="sach"

In [2]:
type(s)

str

In [3]:
s[0]

's'

In [4]:
 s[1]

'a'

In [5]:
s[2]

'c'

In [6]:
s[3]

'h'

In [7]:
s[-1]

'h'

In [8]:
s[-2]

'c'

In [9]:
a = "my name is sach"

In [10]:
a[-1]

'h'

In [11]:
a[0]

'm'

In [12]:
a[100]

IndexError: string index out of range

#### String Slicing Operation

In [13]:
a

'my name is sach'

In [14]:
a[0:10]

'my name is'

In [15]:
b = "Sachin"

In [16]:
b[0:3]

'Sac'

In [17]:
b[0:200]

'Sachin'

In [18]:
b[-100]

IndexError: string index out of range

In [19]:
b[-1:-4]

''

In [20]:
b[0:4]

'Sach'

In [21]:
b[0:4:1]

'Sach'

In above example we have explicitly given step size as 1, but internaly default stepsize is also 1.

In [22]:
b[0:4:2]

'Sc'

In [23]:
b[-1:-4]

''

In [24]:
b[-1:-4:-1]

'nih'

If we are moving from 0 to n positive direction and stepsize is on opposite direction then there will be a conflict and we didn't get any output. i.e. ' '

In [25]:
b[-1:-4:1]

''

In [26]:
b[0:4:-1]

''

Practice:

In [27]:
b[0:-10:-1]

'S'

In [28]:
b[0:-10:1]

''

Continue:

In [29]:
b[::]

'Sachin'

In [30]:
b[:7]

'Sachin'

In [31]:
b[-2:]

'in'

In [32]:
b[-2:-1]

'i'

In [33]:
b[::-1]

'nihcaS'

In [34]:
b[-1::-1]

'nihcaS'

In [35]:
a

'my name is sach'

In [36]:
a[-5:5]

''

In [37]:
a[-5:5:-1]

' si e'

In [38]:
b

'Sachin'

In [39]:
'sach'*3

'sachsachsach'

In [40]:
b*3

'SachinSachinSachin'

In [41]:
'sach' + 'sach'

'sachsach'

In [42]:
b + b

'SachinSachin'

In [43]:
b*b

TypeError: can't multiply sequence by non-int of type 'str'

#### String Functrions

In [44]:
len(a)

15

In [45]:
len(b)

6

In [46]:
a

'my name is sach'

In [47]:
a.find("a")

4

In [48]:
a.find("x")

-1

In [49]:
a.find('is')

8

In [50]:
a.find('in')

-1

In [51]:
a.count('s')

2

In [52]:
a.count('x')

0

In [53]:
a

'my name is sach'

In [54]:
a.split()

['my', 'name', 'is', 'sach']

In [55]:
l = a.split()

In [56]:
l

['my', 'name', 'is', 'sach']

In [57]:
type(l)

list

In [58]:
a.split('a')

['my n', 'me is s', 'ch']

In [59]:
a

'my name is sach'

In [60]:
a.upper()

'MY NAME IS SACH'

In [61]:
b

'Sachin'

In [63]:
b.swapcase()

'sACHIN'

In [64]:
c='SAchin'

In [65]:
c.title()

'Sachin'

In [66]:
c.capitalize()

'Sachin'

In [67]:
p="xyz"

In [70]:
q="IJK"

In [71]:
p.join(q)

'IxyzJxyzK'

In [74]:
for i in reversed("sach"):
    print(i)

h
c
a
s

In [98]:
s= "sach"
s[::-1]

'hcas'

In [99]:
d= "    sach    "

In [100]:
d.lstrip()

'sach    '

In [101]:
d.rstrip()

'    sach'

In [102]:
d.strip()

'sach'

In [103]:
s

'sach'

In [104]:
s.replace("a","xyz")

'sxyzch'

In [105]:
s.replace("i","xyz")

'sach'

In [106]:
"Data\tScience".expandtabs()

'Data    Science'

In [107]:
s

'sach'

In [108]:
s.center(40,"#")

'##################sach##################'

In [111]:
s.center(6,"#")

'#sach#'

In [112]:
s.center(7,"#")

'##sach#'

In [113]:
s.center(8,"#")

'##sach##'

##### 'is' Functions

In [117]:
m="SACH"

In [118]:
s.isupper()

True

In [120]:
s.islower()

False

In [121]:
m = "   "

In [123]:
m.isspace()

True

In [124]:
s.isspace()

False

In [126]:
m = "sach"

In [129]:
m.isdigit()

False

In [128]:
m = "sach123"

In [130]:
m.isdigit()

False

In [131]:
m = 123

In [ ]:
m.isdigit()

In [132]:
m = "sach"

In [134]:
m.startswith('s')

True

In [135]:
m.startswith('h')

False

In [136]:
m.endswith('s')

False

In [137]:
m.endswith('h')

True

In [138]:
m

'sach'

In [140]:
m.istitle()

False

In [141]:
m = "Sach"

In [142]:
m.istitle()

True

### Exercise

1. Take long String
    s = "my name is Sachin Bhopi, name of org is shdigital"
2. find all location of "name" substring
3. make entire string lower case
4. count no. of 'a' in entire string
5. print location of all 'a' characters in a string
6. replace all 'a' wit 'shdigital'
7. put all words as seperate element in list.

In [9]:
# 1.

s = "my name is sachin bhopi, name of org is shdigital"

In [10]:
s

'my name is sachin bhopi, name of org is shdigital'

In [11]:
# 2.

i = s.find("name")
while i < s.find(" ",s.find("name")):
    print(i)
    i+=1

3
4
5
6

In [12]:
# 3.

s.lower()

'my name is sachin bhopi, name of org is shdigital'

In [13]:
# 4.

s.count("a")

4

In [14]:
# 5.

i = 0
c = 0
while i < s.count("a"):
    print(s.find("a",c))
    c = s.find("a",c) + 1
    i += 1

4
12
26
47

In [17]:
c = 0
for i in range(s.count("a")):
    print(s.find("a",c))
    c = s.find("a",c) + 1

4
12
26
47

In [18]:
s = "my name is sachin bhopi, name of org is shdigital"
c = -1
for i in range(s.count("a")):
    c = s.find("a",c+1)
    print(c)

4
12
26
47

In [19]:
# 6.

s.replace("a","XYZ")

'my nXYZme is sXYZchin bhopi, nXYZme of org is shdigitXYZl'

In [20]:
# 7.

s.split()

['my',
 'name',
 'is',
 'sachin',
 'bhopi,',
 'name',
 'of',
 'org',
 'is',
 'shdigital']

In [22]:
"my name is {} ".format("Sachin")

'my name is Sachin '

In [23]:
"my first name is {} and last name is {} ".format("Sachin","Bhopi")

'my first name is Sachin and last name is Bhopi '

In [24]:
"my first name is {a} and last name is {b} ".format(b="Bhopi", a="Sachin")

'my first name is Sachin and last name is Bhopi '

#### Exercise: Palindrome

In [21]:
s1 = "nitin"
#s1 = input("Enter your data")
s2 = s1[::-1]
if s1 == s2:
    print("Palindrome")
else :
    print("Not Palindrome")

Palindrome