## List

List is collection of homogeneous or heterogeneous data.

In [143]:
l = ["sach", "Sachin", 1234, 2+3j, True, 123.456 ]

In [144]:
l

['sach', 'Sachin', 1234, (2+3j), True, 123.456]

In [145]:
type(l)

list

In [146]:
l[0]

'sach'

In [147]:
l[-1]

123.456

In [148]:
l[-3]

(2+3j)

In [149]:
l

['sach', 'Sachin', 1234, (2+3j), True, 123.456]

In [150]:
l[1:4]

['Sachin', 1234, (2+3j)]

In [151]:
l[::-1]

[123.456, True, (2+3j), 1234, 'Sachin', 'sach']

In [152]:
l

['sach', 'Sachin', 1234, (2+3j), True, 123.456]

How to extract character 'i' from string 'Sachin' at 2nd location

In [153]:
l[1][4]

'i'

In [154]:
type(l[1])

str

In [155]:
type(l[2])

int

In [159]:
l

['sach', 'Sachin', 1234, (2+3j), True, 123.456]

In [158]:
l[3].real

2.0

In [161]:
l[3].imag

3.0

In [165]:
l1 = ['sach', 'Sachin', 9876]
l2 = [(5+7j), False, 543.12]

In [166]:
l1+l2

['sach', 'Sachin', 9876, (5+7j), False, 543.12]

In [167]:
l1 + "xyz"

TypeError: can only concatenate list (not "str") to list

In [168]:
l1 + ["xyz"]

['sach', 'Sachin', 9876, 'xyz']

In [172]:
l1*2

['sach', 'Sachin', 9876, 'sach', 'Sachin', 9876]

In [173]:
l1

['sach', 'Sachin', 9876]

In [174]:
l1[0] = "yourname"

In [175]:
l1

['yourname', 'Sachin', 9876]

In [176]:
l1[1][1] = "x"

TypeError: 'str' object does not support item assignment

In [179]:
s = "Sach"

In [180]:
s[1] = "x"

TypeError: 'str' object does not support item assignment

In [181]:
s.replace('a','x')

'Sxch'

replace() will create new string with replaced character at new location because string is immutable

In [182]:
l1

['yourname', 'Sachin', 9876]

In [183]:
len(l1)

3

In [185]:
 "Sachin" in l1

True

In [186]:
 "Sach" in l1

False

In [187]:
1234 in l1

False

In [188]:
l = ['okay','not ok', 78,45,789,5.5,True, 5+8j]

In [189]:
l[-1:6:1]

[]

In [191]:
l[-1:6:-1]

[(5+8j)]

In [201]:
l2 = [(5+7j), False, 543.12]

In [202]:
l2

[(5+7j), False, 543.12]

In [203]:
l2.append("sach")

**append()** attach the element at last

In [204]:
l2

[(5+7j), False, 543.12, 'sach']

In [205]:
l2.pop()

'sach'

**pop()** removes element from last by default but you can give index to get customized result

In [218]:
l2 = [(5+7j), False, 543.12]
l2

[(5+7j), False, 543.12]

In [219]:
l2.append(1234)

In [220]:
l2

[(5+7j), False, 543.12, 1234]

What if we want to insert element in between and not at last

In [221]:
l2.insert(1,"Sach")

In [222]:
l2

[(5+7j), 'Sach', False, 543.12, 1234]

List inside list i.e. nested list

In [223]:
l2.insert(3,[25,45,55,555,6])

In [226]:
l2

[(5+7j), 'Sach', False, [25, 45, 55, 555, 6], 543.12, 1234]

For temporary reverse

In [227]:
l2[::-1]

[1234, 543.12, [25, 45, 55, 555, 6], False, 'Sach', (5+7j)]

For permanant reverse

In [228]:
l2.reverse()

In [229]:
l2

[1234, 543.12, [25, 45, 55, 555, 6], False, 'Sach', (5+7j)]

In [230]:
l2[2]

[25, 45, 55, 555, 6]

In [231]:
l2[2][1]

45

In [232]:
l2

[1234, 543.12, [25, 45, 55, 555, 6], False, 'Sach', (5+7j)]

In [233]:
l2.count(1234)

1

In [234]:
l2.append(1234)

In [235]:
l2

[1234, 543.12, [25, 45, 55, 555, 6], False, 'Sach', (5+7j), 1234]

In [236]:
l2.count(1234)

2

In [237]:
l2.count("Sachin")

0

In [238]:
l2.append("Sachin")

In [239]:
l2.count("Sachin")

1

In [240]:
l2

[1234, 543.12, [25, 45, 55, 555, 6], False, 'Sach', (5+7j), 1234, 'Sachin']

In [241]:
l2.append([3,4,5,6])

In [242]:
l2

[1234,
 543.12,
 [25, 45, 55, 555, 6],
 False,
 'Sach',
 (5+7j),
 1234,
 'Sachin',
 [3, 4, 5, 6]]

In [243]:
l1

['yourname', 'Sachin', 9876]

In [244]:
l1.extend([2,3,4, "abcd"])

In [245]:
l1

['yourname', 'Sachin', 9876, 2, 3, 4, 'abcd']

### Exercise

l = [1, [8, 9, 10, "abc"], 3.2, "Sach", 4+8j ]

1. Add 2 more element in between list -> 
    1. nested list 
    2. complex number
2. if nested list contain string then find out its index in nested list and print it. Then remove the string
3. You have to extract 2nd element of each nested list

In [112]:
# 1.
l = [1, [8, 9, 10, "abc"], 3.2, "Sach", 4+8j ]
print("Initial List: ",l)

# 2.
l.insert(3,[7,8, "def","ijk"])
l.insert(4, 2+10j)
l.insert(len(l),[127,348, "pqr","xyz","123"])
print("After Insertion List: ", l)


# 3. 
for i in l:
    if type(i) is list:
        j = 0
        while j < len(i):
            if type(i[j]) is not str:
                # print("IF")
                j = j+1
                
            else:
                # print("ELSE")
                print(j)
                print(i[j])
                i.pop(j)
                
print("After Removal List:   ", l)


# 4. 

print ("\n2nd element of each nested list")
for i in l:
    if type(i) == list:
        print(i[1])

Initial List:  [1, [8, 9, 10, 'abc'], 3.2, 'Sach', (4+8j)]
After Insertion List:  [1, [8, 9, 10, 'abc'], 3.2, [7, 8, 'def', 'ijk'], (2+10j), 'Sach', (4+8j), [127, 348, 'pqr', 'xyz', '123']]
3
abc
2
def
2
ijk
2
pqr
2
xyz
2
123
After Removal List:    [1, [8, 9, 10], 3.2, [7, 8], (2+10j), 'Sach', (4+8j), [127, 348]]

2nd element of each nested list
9
8
348

#### Rough

In [251]:
print(l2.reverse())

None

In [262]:
l1=[43,4343]
l1+list('sudh')
l1+['sudh']

[43, 4343, 'sudh']

In [263]:
list("sudh")

['s', 'u', 'd', 'h']

In [265]:
l1.endswith("")

AttributeError: 'list' object has no attribute 'endswith'

In [266]:
s

'Sach'

In [267]:
l = ["sudh " , 345,4354353,4353]

In [268]:
l.append("kumar")

In [269]:
l

['sudh ', 345, 4354353, 4353, 'kumar']

In [270]:
l.append([2,3,4,5,6])

In [271]:
l

['sudh ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6]]

In [272]:
l.extend([1,2,3,4])

In [273]:
l

['sudh ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6], 1, 2, 3, 4]

In [274]:
[2,3,4,4,5,76]  + [4,5,6,77]

[2, 3, 4, 4, 5, 76, 4, 5, 6, 77]

In [275]:
"fdsaffsafsafd afsa saf asdfa sdsaf afsad ".split('&')

['fdsaffsafsafd afsa saf asdfa sdsaf afsad ']

In [276]:
3 +4j

(3+4j)

In [277]:
L=['sudh', 'kumar', 3543, 4+6j, True, 345.6]
L[-1:6]

[345.6]

In [278]:
"dfdasfasfda\tsafasf\t\tfadsfsafdsaf\t".expandtabs()

'dfdasfasfda     safasf          fadsfsafdsaf    '

In [279]:
a = "I am working in ineuron"

a[0:-10:-1] gives blank but a[0:-100:-1] gives ‘I’
Can you please explain this?

SyntaxError: invalid syntax (<ipython-input-279-fef3cd6af93b>, line 3)

In [280]:
a = "I am working in ineuron"

In [281]:
a[0:-10:-1]

''

In [282]:
a[0:-100:-1]

'I'

In [283]:
a[0::-1]

'I'

In [284]:
l2=['prweu', 5345]
l3=l2
l3[0]='newatl3'
print(l3)
print(l2)
o/p ['newatl3', 5345]
o/p ['newatl3', 5345] 
why it has changed l2?


s1='sudh'
s2=s1
s2='newdata'
print(s1)                 in this case why it has not changed s1?
print(s2)
'sudh'
'newdata'

['newatl3', 5345]
['newatl3', 5345]

NameError: name 'o' is not defined

In [285]:
l2=['prweu', 5345]
l3=l2

In [286]:
l2

['prweu', 5345]

In [287]:
l3

['prweu', 5345]

In [288]:
l3 = [4,5,6,7,7]

In [289]:
l3[0] = "dsfdsafsa"

In [290]:
l3[0] = "sudh"

In [291]:
l3

['sudh', 5, 6, 7, 7]

In [292]:
l2

['prweu', 5345]

In [293]:
s1='sudh'
s2=s1
s2='newdata'

In [294]:
s2

'newdata'

In [295]:
s1

'sudh'

In [296]:
l1= [569, "Sudh", "ravi"]

In [297]:
g = l1[2].replace('v',"s")

In [298]:
l1.pop()

'ravi'

In [299]:
l1.append(g)

In [300]:
l1.pop(2)

'rasi'

In [301]:
l1

[569, 'Sudh']

In [302]:
l=['ved', 12,True]
l[0]=l[0].replace('e', 'E')

In [303]:
l

['vEd', 12, True]

In [304]:
s = 'USA fdf'

In [305]:
s.isupper()

False

In [306]:
l = ["sunny" , "gadhiya" , "9999" , 9+9j , True , 99.9]

In [307]:
l[3].imag

9.0

In [308]:
l[3].real

9.0

In [309]:
s = ['abc','pqr','xyz']
s.pop(1)

'pqr'

In [310]:
" ".join("sudh") + " "

's u d h '

In [311]:
s

['abc', 'xyz']

In [312]:
s = "sudh"

In [313]:
s.index('d')

2

In [314]:
l = [3,4,5,6]

In [315]:
l.index(5)

2

In [316]:
s = "sudh"

In [317]:
list = [43,4343]
l1+list('sudh')
l1+['sudh']

TypeError: 'list' object is not callable

In [318]:
l1= [43,4343]

In [319]:
l1+list('sudh')

TypeError: 'list' object is not callable

In [320]:
list("sudh")

TypeError: 'list' object is not callable

In [321]:
l1+['sudh']

[43, 4343, 'sudh']

In [322]:
list("sudh")

TypeError: 'list' object is not callable

In [323]:
l = [4,5,6,6]

In [324]:
l.insert(-1,45)

In [325]:
l

[4, 5, 6, 45, 6]

In [326]:
l.insert(3,"sudh")

In [327]:
l

[4, 5, 6, 'sudh', 45, 6]

In [328]:
type(l[3])

str

In [329]:
s = "sudh"

In [330]:
l2 =[1,2]
l2[2] = 3 Why can't assign l2[2] = 3

SyntaxError: invalid syntax (<ipython-input-330-da224e22beeb>, line 2)

In [331]:
a = 'i am working with ineuron'
a[-5:5:-1]

'eni htiw gnikro'