## Tuple

In [1]:
t =()

type(t)

In [3]:
l = []

In [4]:
type(l)

list

In [5]:
t1 = (123, 45, "sach", 6.78, True)

In [6]:
l1 = [123, 45, "sach", 6.78, True]

In [7]:
t1[0:4]

(123, 45, 'sach', 6.78)

In [8]:
t1[::-1]

(True, 6.78, 'sach', 45, 123)

In [9]:
t1[-1]

True

In [10]:
l1[0]

123

In [11]:
l1[0] = "xyz"

In [12]:
l1

['xyz', 45, 'sach', 6.78, True]

In [13]:
t1[0]

123

In [14]:
t1[0] = "xyz"

TypeError: 'tuple' object does not support item assignment

Item assignment is possible in case of List hence **List is Mutable Object**. 
Whereas Item assignment is not possible in casee of Tuples hence **Tuple is Immutable Object**.

In [15]:
t2 = (890, 12, 334)

In [16]:
t1 + t2

(123, 45, 'sach', 6.78, True, 890, 12, 334)

Tuples are immutable so when addition of 2 tuples are done; new location is assigned for the result

In [18]:
t1*3

(123,
 45,
 'sach',
 6.78,
 True,
 123,
 45,
 'sach',
 6.78,
 True,
 123,
 45,
 'sach',
 6.78,
 True)

In [21]:
t2

(890, 12, 334)

In [22]:
t2*3

(890, 12, 334, 890, 12, 334, 890, 12, 334)

In [23]:
t1

(123, 45, 'sach', 6.78, True)

In [24]:
45 in t1

True

In [25]:
"abc" in t1

False

In [26]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [27]:
max(t2)

890

When we have homogeneous data then max-min operations are possible in tuples

In [28]:
t3 = ("abc","def","xyz","pqr","ijk","bbb","zz")

In [29]:
min(t3)

'abc'

In [30]:
max(t3)

'zz'

### Insert Operation in Tuple

Tuples are immutable hence insert operation is not possible.

In [31]:
t1

(123, 45, 'sach', 6.78, True)

In [32]:
t1 +t2

(123, 45, 'sach', 6.78, True, 890, 12, 334)

In [33]:
l2 = list (t1)

In [34]:
l2

[123, 45, 'sach', 6.78, True]

In [35]:
l2.insert(3,t2)

In [36]:
l2

[123, 45, 'sach', (890, 12, 334), 6.78, True]

In [37]:
tuple(l2)

(123, 45, 'sach', (890, 12, 334), 6.78, True)

Here address will change. You cannot have updated tuple at same location.

### Nested Tuples

In [44]:
tt = ((1,2,3,4,5,6), ("abc",55,66),("343",78),23,88,123, [9,8,7,6,5])

In [45]:
tt

((1, 2, 3, 4, 5, 6),
 ('abc', 55, 66),
 ('343', 78),
 23,
 88,
 123,
 [9, 8, 7, 6, 5])

1. Access 2nd element (i.e. 8) from list inside tuple

In [46]:
tt[6]

[9, 8, 7, 6, 5]

In [47]:
tt[6][1]

8

2. Access 2nd to 4th (i.e. [8, 7, 6]) element from list inside tuple

In [49]:
tt[6][1:4]

[8, 7, 6]

In [52]:
tt

((1, 2, 3, 4, 5, 6),
 ('abc', 55, 66),
 ('343', 78),
 23,
 88,
 123,
 [9, 8, 7, 6, 5])

In [50]:
 for i in tt:
        print(i)

(1, 2, 3, 4, 5, 6)
('abc', 55, 66)
('343', 78)
23
88
123
[9, 8, 7, 6, 5]

In [51]:
for i in tt:
    if type(i) == tuple:
        print(i[0])

1
abc
343

In [53]:
t1

(123, 45, 'sach', 6.78, True)

In [54]:
t2

(890, 12, 334)

In [55]:
if(len(t1)==len(t2)):
    print("Both are of Same Length")
else :
    print("Both are not of Same Length")

Both are not of Same Length

In [56]:
tt2 = (4545, 234, "abc", 66,77,88,8,88, True, "xyz")

In [57]:
i = "abc"
# i = input("Please enter your input")

if i in tt2:
    print("Your input value present in tuple")
else :
    print("Your input value not present in tuple")

Please enter your inputabc
Your input value present in tuple

In [58]:
i = "sdfdf"
#i = input("Please enter your input")

if i in tt2:
    print("Your input value present in tuple")
else :
    print("Your input value not present in tuple")

Your input value not present in tuple

In [59]:
del(66)

SyntaxError: cannot delete literal (Temp/ipykernel_5288/368989734.py, line 1)

In [60]:
tt2

(4545, 234, 'abc', 66, 77, 88, 8, 88, True, 'xyz')

In [61]:
del(tt2)

In [62]:
tt2

NameError: name 'tt2' is not defined

In [63]:
l3 = [23,45,78,989,"dfsd"]

l3. (Tab) will show you all operations that can be performed on list. Eg: append, clear, copy, count,extend, index and so on.

tt2. (Tab) will show you only **count** and **index** because tuple is immutable entity.

## Set

In [64]:
x = set()

In [65]:
type(x)

set

Why set?

In [96]:
l = [ 34, 45, 45,34, 67,"sach","abc","sach","Sach"]

If we need to remove all duplicate elements from above list then we need to write a code for comparing one will all and moving ahead with removing if found matching element.There is simple alternative to remove duplicate elements.

In [97]:
set(l)

{34, 45, 67, 'Sach', 'abc', 'sach'}

just converting list into set all duplicates are removed immediately.

**Set** is a collection which always hold distinct elements.

As you can observe **"Sach"** and **"sach"** both are present in the set because **Set is case sensitive**. It treats Upper and Lower cases as seperate elements.

In [98]:
s = set(l)

In [99]:
s

{34, 45, 67, 'Sach', 'abc', 'sach'}

In [100]:
for i in s:
    print(i)

34
67
sach
45
Sach
abc

In [101]:
67 in s

True

In [102]:
33 in s

False

In [103]:
s[0]

TypeError: 'set' object is not subscriptable

We cannot perform indexing operation on set.

#### There is misconception that Set gives ordered/Sorted data.

In [104]:
s

{34, 45, 67, 'Sach', 'abc', 'sach'}

In [111]:
l.extend([35,12,"Bob",1243])

In [112]:
s = set(l)

In [114]:
s

{12, 124, 1243, 34, 35, 45, 67, 68, 'Bob', 'Sach', 'a', 'abc', 'sach', 'ss'}

In [115]:
for i in s:
    print(i)

a
34
67
35
68
Bob
sach
12
45
Sach
abc
1243
124
ss

In [116]:
ss = set()

In [117]:
ss

set()

In [118]:
ss.add(33)

In [119]:
ss

{33}

In [120]:
ss.add("abc")

In [121]:
ss.add("xyz")

In [122]:
ss

{33, 'abc', 'xyz'}

In [123]:
ss.add([123,45,"ijk"])

TypeError: unhashable type: 'list'

Another collection is not possible inside Set. As we all know Set holds distinct element. To do so set has to perform comparison with element in order to remove duplicate element. but incase of nested collection (list/tuple) comparison won't be possible.

In [124]:
ss

{33, 'abc', 'xyz'}

In [125]:
ss.add(33)

In [126]:
ss

{33, 'abc', 'xyz'}

Already available 33 so won't add

In [128]:
ss.remove(33)

In [129]:
ss

{'abc', 'xyz'}

In [130]:
ss.remove(33)

KeyError: 33

Already removed hence error occured

In [131]:
33 in ss

False

In [132]:
ss.clear()

In [133]:
ss

set()

**Clear** removes all the element from Set

In [137]:
s1 = set(l)

In [138]:
s1

{12, 124, 1243, 34, 35, 45, 67, 68, 'Bob', 'Sach', 'a', 'abc', 'sach', 'ss'}

In [139]:
s2 = set()

In [140]:
s2.add(12)

In [141]:
s2.add("ijk")

In [142]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [143]:
 s2 * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

Above operations are not allowed in Set

#### To add Duplicate element convert Set data into List

In [149]:
l4 = list(s2)

In [150]:
l4

['ijk', 12]

In [151]:
l4.append(12)

In [152]:
l4.append("ijk")

In [153]:
l4

['ijk', 12, 12, 'ijk']

In [154]:
t4 = tuple(s2)

In [155]:
t4

('ijk', 12)

In [156]:
set(t4)

{12, 'ijk'}

## Dictionary

Dictionary is a collection which holds the data in the form of Key-Value pair

In [161]:
l = []

In [162]:
type(l)

list

In [163]:
t = ()

In [164]:
type(t)

tuple

In [157]:
x = {}

In [158]:
type(x)

dict

In [159]:
x1 = {22,11}

In [160]:
type(x1)

set

In [165]:
d = {"name":"sach", "age":40}

In [166]:
type(d)

dict

In [167]:
d

{'name': 'sach', 'age': 40}

In [172]:
d2 = {"name" : "abc", "age": 44,"name" : "xyz", True: "adds", "key": False, 2312:4545}

In [173]:
d2

{'name': 'xyz', 'age': 44, True: 'adds', 'key': False, 2312: 4545}

We can take anything as key like String, boolean, integer. It can accept duplicate key (name) but keeps latest key-value (xyz) for duplicate key.

In [174]:
d2 = {"name" : "abc", "_age": 44,"name" : "xyz", True: "adds", "key": False, 2312:4545}

In [175]:
d2 = {"name" : "abc", "age": 44,"name" : "xyz", True: "adds", "key": False, _2312:4545}

NameError: name '_2312' is not defined

In [176]:
d2 = {"name" : "abc", "age": 44,"name" : "xyz", True: "adds", "key": False, _:4545}

TypeError: unhashable type: 'dict'

In [177]:
d2 = {"name" : "abc", "age": 44,"name" : "xyz", True: "adds", "key": False, %:4545}

SyntaxError: invalid syntax (Temp/ipykernel_5288/255873381.py, line 1)

In [181]:
d2 = {"name" : "abc", "age": 44,"name" : "xyz", True: "adds", "key": False, 2312:[12.23,123,"sac"]}

In [182]:
d2 = {"name" : "abc", "age": (44,33,"qwerty"),"name" : "xyz", True: "adds", "key": False, 2312:[12.23,123,"sac"]}

In [183]:
d2 = {"name" : "abc", "age": (44,33,"qwerty"),"set" : {12,34,56,"asdf"}, True: "adds", "key": False, 2312:[12.23,123,"sac"]}

#### As Value String, Ineger, Float, Boolean, List, Tuple, Set and another dictionary are possible

In [185]:
d2 = {"name" : "abc", "age":45, "tuple": (44,33,"qwerty"), "set" : {12,34,56,"asdf"}, "list": ["adds",78,90], "dict":{"a":1,"b":2,"c":3}, 2312:True, False: 222}

#### As Key which types are allowed and which are not; showing as follows:

List as Key

In [186]:
x4 = {[2,3,4,4]:"abc", "key": [12,23,34]}

TypeError: unhashable type: 'list'

Tuple as Key

In [187]:
x5 = {(2,3,4,4):"abc", "key": [12,23,34]}

Set as Key

In [188]:
x5 = {{2,3,4,4}:"abc", "key": [12,23,34]}

TypeError: unhashable type: 'set'

dict as Key

In [189]:
x5 = {{"a":1,'b':2}:"abc", "key": [12,23,34]}

TypeError: unhashable type: 'dict'

#### Data Access

In [205]:
d3 = {"name" : "abc", "age":45, "tuple": (44,33,"qwerty"), "set" : {12,34,56,"asdf"}, "list": ["adds",78,90], "dict":{"a":1,"b":2,"c":[11,22,33]}, 2312:True, False: 222}

In [206]:
d3["name"]

'abc'

In [207]:
d3["age"]

45

In [208]:
d3[2312]

True

In [209]:
d3[False]

222

In [210]:
d3["list"]

['adds', 78, 90]

In [211]:
d3

{'name': 'abc',
 'age': 45,
 'tuple': (44, 33, 'qwerty'),
 'set': {12, 34, 56, 'asdf'},
 'list': ['adds', 78, 90],
 'dict': {'a': 1, 'b': 2, 'c': [11, 22, 33]},
 2312: True,
 False: 222}

In [212]:
d3["list"]

['adds', 78, 90]

In [213]:
d3["list"][1]

78

In [214]:
 d3["dict"]

{'a': 1, 'b': 2, 'c': [11, 22, 33]}

In [216]:
 d3["dict"]["c"]

[11, 22, 33]

In [217]:
 d3["dict"]["c"][1]

22

In [218]:
d2+d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [219]:
d3*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [220]:
d3

{'name': 'abc',
 'age': 45,
 'tuple': (44, 33, 'qwerty'),
 'set': {12, 34, 56, 'asdf'},
 'list': ['adds', 78, 90],
 'dict': {'a': 1, 'b': 2, 'c': [11, 22, 33]},
 2312: True,
 False: 222}

In [221]:
d3['age']=60

In [222]:
d3

{'name': 'abc',
 'age': 60,
 'tuple': (44, 33, 'qwerty'),
 'set': {12, 34, 56, 'asdf'},
 'list': ['adds', 78, 90],
 'dict': {'a': 1, 'b': 2, 'c': [11, 22, 33]},
 2312: True,
 False: 222}

In [223]:
d3['age']-=10

In [224]:
d3

{'name': 'abc',
 'age': 50,
 'tuple': (44, 33, 'qwerty'),
 'set': {12, 34, 56, 'asdf'},
 'list': ['adds', 78, 90],
 'dict': {'a': 1, 'b': 2, 'c': [11, 22, 33]},
 2312: True,
 False: 222}

In [225]:
d3.keys()

dict_keys(['name', 'age', 'tuple', 'set', 'list', 'dict', 2312, False])

In [226]:
"age" in d3.keys()

True

In [227]:
for i in d3.keys():
    print(i)

name
age
tuple
set
list
dict
2312
False

In [228]:
for i in d3.keys():
    print(d3[i])

abc
50
(44, 33, 'qwerty')
{56, 34, 12, 'asdf'}
['adds', 78, 90]
{'a': 1, 'b': 2, 'c': [11, 22, 33]}
True
222

In [230]:
for i in d3.keys():
    print(type(d3[i]))

<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'int'>

In [232]:
d3.items()

dict_items([('name', 'abc'), ('age', 50), ('tuple', (44, 33, 'qwerty')), ('set', {56, 34, 12, 'asdf'}), ('list', ['adds', 78, 90]), ('dict', {'a': 1, 'b': 2, 'c': [11, 22, 33]}), (2312, True), (False, 222)])

In [233]:
for i in d3.items():
    print(i)

('name', 'abc')
('age', 50)
('tuple', (44, 33, 'qwerty'))
('set', {56, 34, 12, 'asdf'})
('list', ['adds', 78, 90])
('dict', {'a': 1, 'b': 2, 'c': [11, 22, 33]})
(2312, True)
(False, 222)

In [234]:
for i in d3.items():
    print(i[0])

name
age
tuple
set
list
dict
2312
False

In [235]:
for i in d3.items():
    print(i[1])

abc
50
(44, 33, 'qwerty')
{56, 34, 12, 'asdf'}
['adds', 78, 90]
{'a': 1, 'b': 2, 'c': [11, 22, 33]}
True
222

In [236]:
d4 = {(1,2,3):"asdf;lkj"}

In [237]:
d4[(1,2,3)]

'asdf;lkj'

In [238]:
len(d3)

8

In [239]:
len(d4)

1

### Exercise 1:

0. Take input as a paragraph by using input function
1. convert all of this input into list of words
2. Remove all the duplicate element from your list
3. use above distinct elements as a key for dictionary and assign your name as a value to all the keys for dictionary
4. Try to print tuple of all the values
5. Try to print list of all the keys

In [295]:
# 0. 

a = "A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations automatically. Modern computers can perform generic sets of operations known as programs. These programs enable computers to perform a wide range of tasks."
#a = input("Enter your data")
 
# 1.

l = a.split()
print("\nList:\n")
print(l)
len(l)

# 2.

s = set(l)
print("\nSet:\n")
print(s)
len(s)

# 3.

d = {}

for i in s:
    d[i] = "sachin"

print("\nDictionary:\n")
print(d)

# 4.

print("\nAll Values:\n")

"""for i in d.values():
    print(i)
"""

print(tuple(d.values()))

# 5.

print("\nAll Keys:\n")

"""for i in d.keys():
    print(i)
"""

print(list(d.keys()))

List:

['A', 'computer', 'is', 'a', 'machine', 'that', 'can', 'be', 'programmed', 'to', 'carry', 'out', 'sequences', 'of', 'arithmetic', 'or', 'logical', 'operations', 'automatically.', 'Modern', 'computers', 'can', 'perform', 'generic', 'sets', 'of', 'operations', 'known', 'as', 'programs.', 'These', 'programs', 'enable', 'computers', 'to', 'perform', 'a', 'wide', 'range', 'of', 'tasks.']

Set:

{'is', 'that', 'or', 'programs.', 'programmed', 'generic', 'A', 'can', 'tasks.', 'range', 'a', 'be', 'computers', 'These', 'as', 'wide', 'sets', 'perform', 'computer', 'automatically.', 'known', 'logical', 'enable', 'arithmetic', 'out', 'sequences', 'of', 'carry', 'to', 'operations', 'machine', 'Modern', 'programs'}

Dictionary:

{'is': 'sachin', 'that': 'sachin', 'or': 'sachin', 'programs.': 'sachin', 'programmed': 'sachin', 'generic': 'sachin', 'A': 'sachin', 'can': 'sachin', 'tasks.': 'sachin', 'range': 'sachin', 'a': 'sachin', 'be': 'sachin', 'computers': 'sachin', 'These': 'sachin', 'as': 'sachin', 'wide': 'sachin', 'sets': 'sachin', 'perform': 'sachin', 'computer': 'sachin', 'automatically.': 'sachin', 'known': 'sachin', 'logical': 'sachin', 'enable': 'sachin', 'arithmetic': 'sachin', 'out': 'sachin', 'sequences': 'sachin', 'of': 'sachin', 'carry': 'sachin', 'to': 'sachin', 'operations': 'sachin', 'machine': 'sachin', 'Modern': 'sachin', 'programs': 'sachin'}

All Values:

('sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin', 'sachin')

All Keys:

['is', 'that', 'or', 'programs.', 'programmed', 'generic', 'A', 'can', 'tasks.', 'range', 'a', 'be', 'computers', 'These', 'as', 'wide', 'sets', 'perform', 'computer', 'automatically.', 'known', 'logical', 'enable', 'arithmetic', 'out', 'sequences', 'of', 'carry', 'to', 'operations', 'machine', 'Modern', 'programs']

### Exercise 2:

In [296]:
d = {"name":"Sachin", "place": "Navi Mumbai", "year": 2016}

In [298]:
"place" in d

True

In [299]:
for i in d:
    print("Key: ", i, ";", "Value: ", d[i])

Key:  name ; Value:  Sachin
Key:  place ; Value:  Navi Mumbai
Key:  year ; Value:  2016

In [301]:
for i in d:
    if i == "year":
        if d[i] > 2020:
            print("year is fine")
        else:
            d[i] = 2021

In [302]:
d

{'name': 'Sachin', 'place': 'Navi Mumbai', 'year': 2021}

#### Dictionary Comprehension

Program: Key is sequential number and value should be power of key.

In [303]:
dd = {}
for i in range(10):
    dd[i] = i*i

In [304]:
dd

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [305]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}