In [1]:
 class car:

IndentationError: expected an indented block (Temp/ipykernel_4928/1907965033.py, line 2)

In [2]:
class car:
    pass

In [3]:
audi = car()

In [4]:
audi

In [6]:
audi.milage = 10
audi.year = 2020
audi.make = 234
audi.model = "q7"

In [7]:
audi.milage

10

In [8]:
milage

NameError: name 'milage' is not defined

In [9]:
nano = car()

In [11]:
nano.milage = 20
nano.year = 2021
nano.make = 777
nano.model = "S"
nano.engineno = 123456789

In [12]:
print(nano.milage,audi.milage)

20 10

If we need to create 100 such objects (like audi and nano) we need to create all the variable like milage,year,make and model again and again. So thos is bad way of writing OOP.

### Best Practice for OOP

In [13]:
class car:
    def __init__(self, milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model

In [14]:
nano1 = car()

TypeError: __init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'model'

In [15]:
nano1 = car(20,2021,888,"M")

In [16]:
audi1 = car(10,2020,1234,"Q8")

In [17]:
nano1.milage

20

In [18]:
nano2 = car(22,2022,999,"L")
audi2 = car(15,2020,5678,"Q2")

In [19]:
audi2.year

2020

In [20]:
class car:
    def __init__(self, mi, yr, mk, mdl):
        self.milage = mi
        self.year = yr
        self.make = mk
        self.model = mdl

In [21]:
nano3 = car(25,2019,444,"XXL")
audi3 = car(18,2018,555,"Q5")

In [23]:
nano3.make

444

In [22]:
nano3.year

2019

In [24]:
audi3.model

'Q5'

### Class Method

In [30]:
class car:
    def __init__(a, mi, yr, mk, mdl):
        a.milage = mi
        a.year = yr
        a.make = mk
        a.model = mdl
        
    def age(b,current_year):
        return current_year - b.year

In [31]:
nano4 = car(27,2017,233,"XXXL")

In [32]:
nano4.age(2021)

4

In [33]:
nano4.milage

27

In [39]:
class car:
    def __init__(a, mi, yr, mk, mdl):
        a.milage = mi
        a.year = yr
        a.make = mk
        a.model = mdl
        
    # Parameterized Method
    def age(b,current_year):
        return current_year - b.year
    
    # Method with no parameter
    def mil(c):
        return c.milage

In [40]:
nano5 = car(29,2016,111,"XS")

In [41]:
nano5.milage

29

In [42]:
nano5.mil()

29

In [43]:
nano5

In [44]:
class car:
    def __init__(a, mi, yr, mk, mdl):
        a.milage = mi
        a.year = yr
        a.make = mk
        a.model = mdl
        
    # Parameterized Method
    def age(b,current_year):
        return current_year - b.year
    
    # Method with no parameter
    def mil(c):
        return c.milage
    
    def __str__(d):
        return "this is my car class"

In [45]:
nano6 = car(32,2015,113,"SS")

In [46]:
print(nano6)

this is my car class

### Create Student class

In [63]:
class Student:
    def __init__(self, rollno, name, branch, join_year):
        self.rollno = rollno
        self.name = name
        self.branch = branch
        self.join_year = join_year
                
    def st_branch(self):
        print("student branch is", self.branch)
        
    def str_rollno(self):
        if type(self.rollno) == str:
            print("do Nothing")
        else:
            return str(self.rollno)
    
    def duration(self,current_year):
        print(self.name+"'s duration in collage is", current_year - self.join_year, 'years')
        
    def __str__(self):
        return "This is Student class where they can input their own data"

In [64]:
sach = Student(101, "Sachin", "IT", 2016)

In [65]:
sach.duration(2021)

Sachin's duration in collage is 5 years

In [66]:
sach.str_rollno()

'101'

In [67]:
print(sach)

This is Student class where they can input their own data

In [68]:
nitin = Student(201, "Nitin", "EXTC", 2017)

In [69]:
nitin.st_branch()

student branch is EXTC

### You can pass list,tuple,set of names

In [80]:
class Employee:
    
    def __init__(self,eid,name,doj,company):
        self.eid = eid
        self.name = name
        self.doj = doj
        self.company = company
        
    def name_parsing(self):
        if type(self.name) == list:
            for i in self.name:
                print("name of the student", i)
        else:
            print("PRovided name is not in a list")
    
    def curCompany(self):
        print("Current Comany is",self.company)
        
    def str_eid(self):
        if type(self.eid) == str:
            print("do nothing")
        else:
            return str(self.eid)
        
    def experience(self,current_year):
        print(self.name,"'s experince is ",current_year - self.doj)
        
    def __str__(self):
        return "This is Employee class"

In [81]:
together = Employee([3001,3002,3003],["Tushar","Pratik","Ashish"],2018,'ABC Corporation')

In [82]:
together.name

['Tushar', 'Pratik', 'Ashish']

In [83]:
together.name_parsing()

name of the student Tushar
name of the student Pratik
name of the student Ashish

In [84]:
together.curCompany()

Current Comany is ABC Corporation

In [85]:
together.str_eid()

'[3001, 3002, 3003]'

In [86]:
together.experience(2021)

['Tushar', 'Pratik', 'Ashish'] 's experince is  3

In [87]:
print(together)

This is Employee class

### Exercise:

**Level 1:**
- Create class as `Data` with variable -> `file_name`,`file_type` and `data`
    
- Create function `file_open()` -> should create file if not present and write something in a file.
    
- Create function `file_read()` -> Content of the file should be returned.
    
- Create a function `file_append()` -> should append additional data in a same file.

In [139]:
# Level 1

class Data:
    def __init__(self,file_name,file_type,data,size):
        self.file_name = file_name
        self.file_type = file_type
        self.data = data
        self.size = size
    def file_open(self):
        f = open(self.file_name,"w")
        f.write("File Created in class")
        f.close()
        
    def file_read(self):
        f = open(self.file_name,"r")
        ff = f.read()
        f.close()
        return ff
    
    def file_append(self):
        f = open(self.file_name,"a")
        f.write(" --> Appended data !!! <--")
        f.close()
        return self.file_read()

In [140]:
abc = Data("aaa.txt","txt",1,10)

In [141]:
abc.file_open()

In [142]:
abc.file_read()

'File Created in class'

In [143]:
abc.file_append()

'File Created in class --> Appended data !!! <--'

### Exercise (Continue):

**Level 2:**
- Must have exception handling (try-except) in all function
- Implement Logger -> create seperate function for logger and call that function to perform log operation

In [155]:
# Level 2

import logging as lg

class Data:
    def __init__(self,file_name,file_type,data,size):
        self.file_name = file_name
        self.file_type = file_type
        self.data = data
        self.size = size
        lg.basicConfig(filename = "class_logging.log",level = lg.INFO, format = '%(name)s %(asctime)s %(levelname)s %(message)s')
        self.logger(1,"Object Created")
    def file_open(self):
        try:
            f = open(self.file_name,"w")
            f.write("File Created in class")
            f.close()
            self.logger(1,"File Created and Content Added")
        except Exception as e:
            print("File Opening Error",e)

    def file_read(self):
        try:
            f = open(self.file_name,"r")
            ff = f.read()
            f.close()
            self.logger(1,"Inside file_read() function")
            return ff
        except Exception as e:
            print("File Reading Eror",e)
            
    def file_append(self):
        try:
            f = open(self.file_name,"a")
            f.write(" --> Appended data !!! <--")
            f.close()
            self.logger(1,"Inside file_append() function")
            return self.file_read()
        except Exception as e:
            print("File Appending Error",e)
    
    def logger(self,mode,msg):
        if(mode == 1):
            lg.info(msg)
        elif(mode == 2):
            lg.debug(msg)
        elif(mode == 3):
            lg.error(msg)
        else:
            lg.info(msg)

In [156]:
ss = Data("bbb.txt","txt",1,10)

In [157]:
ss.file_open()

In [158]:
ss.file_read()

'File Created in class'